# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python environment config
*.env

# Streamlit temporary files
.streamlit/
